
  body {
      padding: 0;
      margin: 0;
      box-sizing: border-box;

  }
  
  .rubrik-checkout{
    text-align: center;
    font-size: 30px;
    background: white;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

a{
    text-decoration: none;
    color: #ffd45f;
}

  .checkout {
    margin: 2% auto;
    max-width: 50%;
    height: 1200px;
    background-color: #ffd45f;
    border-radius: 10px;
    box-shadow: 0px 0px 19px 6px #ddd;
    overflow: hidden; 
}

.info {
    background: transparent;
    z-index: 1000;
    display: grid;
    margin-left: 10px;
    margin-top: 20px;

}
#orderstatus{
    margin-left: 270px;
    font-size: 40px;
    color:white;
    text-shadow: 0 2px 7px rgba(0, 0, 0, .4);
}



.form h3 {

    font-size: 27px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1.3px;
    word-spacing: 3px;
    margin-top: 20px;
    color: orange;
 }

 label {
    text-align: center;
    display: block;
    color: orange;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 1px;
    margin-top: 23px;
}

input {
    outline: none;
    border: none;
    background-color:#ffd45f;
    border-bottom: 2px solid white;
    width: 300px;
    font-size: 14px;
    padding-bottom: 7px;
    font-weight: 600;
    transition: all .3s ease-in;
    display: block;
    margin: auto;
    color: white;
}

input:focus {
    border-bottom: 2px solid orange;
}
.checkout-to-invoice-btn {
    background-color: orange;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 3px;
    padding: 10px;
    width: 34%;
    left: 270px;
    top: -2px;
    position: relative;
    bottom: 65px;
    border-radius: 15px;
    cursor: pointer;
    transition: all .2s ease-in;
}

.checkout-to-invoice-btn:hover{
    opacity: 0.5;
}

.form p {
    color: orange;
    font-size: 14px;
    font-weight:normal;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
/* Media Query för mobil */ 

@media only screen and (max-width: 1200px){

    #orderstatus{
        margin-left: 60px;
        margin-bottom: 30px;
    }

    .checkout{
      max-width: 75%;
      height: 1200px;
    }

    .checkout-to-invoice-btn{
        margin-left: -190px;
        width: 150px;
    }
}