footer {
  background-image: url(../Bilder/closeup-photo-of-doughnuts-1191639.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
  top: 55%;
  font-family: "Gothic A1", sans-serif;
  font-weight: 300;
  font-size: 20px;
}
.footer__container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
}

.footer__about-us {
  margin-top: 70px;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  width: 45%;
  color: purple;
  border: 2px solid white;
  height: 170px;
  width: 600px;
  border-radius: 5px;
}
#footer__meny_h2 {
  color: #fff;
  padding-left: 40px;
  color: #f3d59e;
}
.a {
  color: #f3d59e;
}
.footer__li {
  list-style: none;
}
.footer__meny .footer__ul .a {
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 2px;
}

#link_h2 {
  color: #f3d59e;
}
.kontakta {
  width: 32%;
  height: 100%;
  float: left;
  color: #f3d59e;
}
.kont {
  padding-bottom: 20px;
}
.footer__social__links li {
  display: inline-block;
  list-style: none;
}
.footer__social__links a {
  position: relative;
  right: 100px;
  color: #fff;
  margin: 0 6px;
  transition: 0.4s;
  text-decoration: none;
  font-size: 30px;
}
.footer__social__links a i {
  transition: 0.4s all;
}
.footer__social__links a:hover > i {
  transform: scale(1.6) rotate(25deg);
}
