nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  background-color: #ffd45f;
  z-index: 10000;
}
.logo {
  color: pink;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 30px;
  text-shadow: -1px 1px 0 #fff, 7px 5px 8px #df7f8f, 2px 3px 1px #4898da;
  text-decoration: none;
  font-family: "Gothic A1", sans-serif;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  font-family: "Gothic A1", sans-serif;
}
.nav-links li:hover {
  opacity: 0.5;
  color: grey;
  transition: all 0.3s ease-in-out;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 20x;
}
.kundvagn {
  color: #fff;
}
.kundvagn:hover {
  color: orange;
  transition: all 0.2s ease-in;
}
.lista {
  background-color: #ffd45f;
  height: 350px;
  width: 250px;
  border: 2px solid white;
  top: 60px;
  right: 50px;
  position: absolute;
  transition: 0.6s all;
  transform: translateY(-150%);
  z-index: 100;
  border-radius: 10px;
}

.kundvagn:hover > .lista {
  position: absolute;
  transform: translateY(0%);
}
.line {
  position: relative;
  top: 265px;
  border-bottom: 2px solid orange;
}
#popup-knapp {
  margin: 0 auto;
  margin-top: 16.9rem;
  display: block;
  height: 40px;
  width: 100px;
  border-radius: 20px;
  background: white;
  color: #ffd45f;
  border: none;
  font-weight: 700;
  font-size: 15px;
}
#popup-knapp:hover {
  background: orange;
  color: white;
  cursor: pointer;
  transition: 0.3s all;
}
#popup-heading {
  color: white;
  text-align: center;
  border-bottom: 2px solid orange;
}
