.cake__header{
    text-align: center;
    font-size: 60px;
    padding-top: 30px;
    letter-spacing: 10px;
    font-family: $font-style;
    font-weight: $font-medium;
    color: $font-col-h2;
}
.cake__gridwrapper{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.cake__gridwrapper__item-1,
.cake__gridwrapper__item-2,
.cake__gridwrapper__item-3,
.cake__gridwrapper__item-4,
.cake__gridwrapper__item-5,
.cake__gridwrapper__item-6{
    border: 0px solid black;
    border-radius: 10px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: $font-style;
    font-weight: $font-thin;
    letter-spacing: 2px;
}
.cake__gridwrapper__item-1:hover,
.cake__gridwrapper__item-2:hover,
.cake__gridwrapper__item-3:hover,
.cake__gridwrapper__item-4:hover,
.cake__gridwrapper__item-5:hover,
.cake__gridwrapper__item-6:hover{
    transform: scale(1.03);
}
.cake__gridwrapper__item-img{
    max-width: 100%; 
}
.cake__gridwrapper__item-h3{
    font-family: $font-style;
    font-weight: $font-regular;
    color: $back-col-undefined;
    font-size: 22px;
    letter-spacing: 5px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.cake__gridwrapper__item-p{
    text-align: center;
}
.cake__gridwrapper__item-btn{
    position: relative;
    left: 50%;
    transform: translate(-50% , -50%);
    margin-bottom: 10px;
    margin-top: 30px;
    padding-left: 20px;
    padding-right:20px;
    background: none;
	border: none;
	font-size: 30px;
	cursor: pointer;
    outline: inherit;
    color: $back-col-undefined;
}
.cake__gridwrapper__item-btn:active{
    color: $font-col-h2;
}