/* Background Colors */
$back-col-nav:#f7de68;
$back-col-section1:#fae8eb;
$back-col-section2:#e6b89c;
$back-col-footer:#d16666;
$back-col-undefined:#ef7a85;

/* Google Fonts */
$font-style:'Gothic A1', sans-serif;

/* Font Color */
$font-col-h2:#d16666;

/* Font Weight */
$font-thin: 100;
$font-regular: 400;
$font-medium: 500;
