*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}

/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Gothic+A1:100,400,500&display=swap');

/* Import scss */
@import "variabel.scss";
@import "header.scss";
@import "navbar.scss";
@import "burger.scss";
@import "section1.scss";
@import "produktlista.scss";
@import "section2.scss";
@import "contactform.scss";
@import "footer.scss";
@import "invoice.scss";
@import "breakpoints.scss";
@import "keyframes.scss";
@import "checkout.scss";