*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Gothic+A1:100,400,500&display=swap');

/* Import scss */
@import "variabel.scss";
@import "section1.scss";
@import "produktlista.scss";
@import "breakpoints.scss";